body{
    padding:0;
    margin:0; 
    font-family:'Source Sans Pro', sans-serif;
    list-style-type: none;   
} 
a, p, ul, img, h1, h2, li, div, section{
    margin:0;
    padding:0;
}
.responsive {
    width: 75%; 
    height: auto;
}

.header{
    position:absolute;
}
a{
    text-decoration: none;
}
#logo{
    font-size: 22px; 
}
.navbar a{
    color: white; 
}
.navbar ul{      
    float: right;  
}

.navbar ul li{ 
    display: inline-block;  
    margin-left:50px;
}
.navbar{
    font-size:18px;
    font-weight:600;
    padding:40px 210px 0px 210px;
}
.hero{
    height:100vh;
    width:100%;
    background-image:url("art-image.png"), linear-gradient(#000000, #2a2a2a);
    background-position:center;
    background-size:cover;   
}
.banner{
    text-align: center;
    color:#ffffff; 
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
.banner h1{
    font-weight:700;
    font-size:60px;  
}
.banner p{ 
    font-size:26px;
    padding:15px 0px;  
}
.banner a{
    font-weight: 700;
    font-size:16px;
    color:white;
    background-color: #00d5a6;
    padding:15px 60px;
    display: inline-block;
    box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.5);
}
.main{    
    font-size: 22px;
    line-height: 1.5; 
    padding:112px 60px 200px 200px;
}
.row2{
    padding-top:150px;
    padding-bottom:150px;
}
.row2 .content{
    padding-top:200px;
    padding-bottom:200px;
}
 
.paraheading{
    text-transform: uppercase;
    font-weight:700;
    font-size:22px;
    color:#33325f;
}
.para{
    color:#2b2b2b;    
}
.row1 a{
    font-weight:600;
    font-size: 18px;
    color:#ff0161;
}
.row2 .smallpara{
    font-size: 16px;
    color:#2b2b2b;
} 
#strong{
    font-weight: 600;
    color:#ff0161;
}
.hr{
    border-style:solid; 
    opacity: 25%; 
    color:#773fa1;
    border-bottom:0px
}
.row2 #shape{
    float:right;
    padding:5px 10px;
}
ul.checkmark{
    display: inline-block;
}
ul.checkmark li{
    font-size:16px;
    list-style-type:none;
    color:#33325f;
    position:relative; 
    margin-bottom:20px;
    padding-top:4px;
    padding-left:40px;
}
ul.checkmark li::before{
    content:"";
    display:block;
    border: 12px solid #00e3aa;
    border-radius: 12px;
    width:0;
    left:3px;
    top:6px;
    position:absolute;
}
ul.checkmark li:after {
    content: " ";
    display: block;
    width: 5px; 
    height: 10px;
    border: solid white;
    border-width:0px 2px 2px 0px;
    position: absolute;
    left: 11px;
    top: 10px; 
    transform: rotate(45deg);
}  
.col{ 
    width:50%;
    float:left;
}
.footer-sec-1{
    background-color: #fbfafc;
    border:0.2px solid #e7e8ea;     
}
.footer-sec-1 a{
    color:#282b31;
}
 .footer-sec-1 div{
    width:calc((100%/3 - 100px)); 
    float:left;   
    padding:30px 0px;
 }
 .footer-sec-1 .logo{
    font-size:20px;
    font-weight:700;
    letter-spacing:0;
    padding-left:100px;   
    padding-top:35px;  
} 
.footer-sec-1 .play-store{
    padding:0px;  
}  
.img-store{
    width:200px;
}
.footer-sec-1 .social{
    text-align: right;
}
.footer-sec-2{
    color:#999ea8;
    background-color:#e7e8ea;
    padding:20px 100px; 
    padding-right:0px;
}
.footer-sec-2 p{
    font-size:11px;
    letter-spacing: 0px;
    color:#999ea8;
}
.clearfix::after {
    content: "";  
    display: block; 
    clear: both;
 }
